:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --ball-size: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0px;
}

a {
    text-decoration: none;
}

button.main-menu-open {
    border: none;
    background-color: transparent;
}

button.main-menu-open i {
    font-size: 30px;
    cursor: pointer;
    color: var(--blue-color);
}

button.main-menu-open i:hover {
    color: var(--blue-alt-color);
}

button.main-menu-close {
    background-color: transparent;
    position: absolute;
    top: 23px;
    left: 23px;
    font-size: 30px;
    cursor: pointer;
    padding: 3px 10px;
    border: 2px solid var(--blue-color);
    color: var(--blue-color);
    border-radius: 6px;
    transition: 0.3s;
}

button.main-menu-close:hover {
    border-color: var(--blue-alt-color);
    color: var(--blue-alt-color);
}

@media (min-width:768px) {
    button.main-menu-open {
        display: none;
    }

    button.main-menu-close {
        display: none;
    }
}


.ball-decoration {
    --ball-size: 10px;
    position: relative;
    width: var(--ball-size);
    height: var(--ball-size);
    background-color: black;
    border-radius: 50%;
}

.ball-decoration::before {
    content: "";
    position: absolute;
    bottom: 50%;
    transform: translate(calc(var(--ball-size) + 5px), 50%);
    display: block;
    width: 30px;
    height: 1px;
    background-color: black;
}

.ball-decoration::after {
    content: "";
    position: absolute;
    bottom: 50%;
    transform: translate(-35px, 50%);
    display: block;
    width: 30px;
    height: 1px;
    background-color: black;
}




/* start sidebar */
.sidebar {
    flex-direction: column;
    width: 250px;
    height: 100%;
    box-shadow: 0 0 10px #ddd;
    z-index: 2;
}



.sidebar ul li a:hover {
    background-color: #eee;
    cursor: pointer;
}

.sidebar ul li a {
    color: black;
    margin-left: 10px;
    padding: 10px;
    transition: 0.6s;
    width: 100%;
    margin-bottom: 10px;
    display: block;
}

.sidebar .nav-title {
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

}

.sidebar .ball-decoration {
    bottom: 0px;
}

.sidebar .active {
    background-color: #eee;
}

@media (max-width: 768px) {

    .sidebar {
        display: none;
    }

    .sidebar.show-menu {
        position: fixed;
        display: flex;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
        z-index: 999;
    }
}

/* end sidebar */
/* start container */

.container {
    background-color: #f1f5f9;
    width: calc(100% - 250px);
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

/* start navbar  */
.navbar {
    background-color: white;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar .search input[type="search"] {
    border: 2px solid #eee;
    border-radius: 6px;
    padding: 10px 0px 10px 30px;
    transition: 0.3s;
}

.navbar .search input[type="search"]:focus {
    outline: none;
    padding-right: 30px;
}

.navbar .search input[type="search"]:focus::placeholder {
    opacity: 0;
}

.navbar .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translate(10px, -50%);
    color: gray;
}


.navbar>.icons {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar>.icons i::after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--red-color);
    bottom: 10px;
    left: 10px;
}

.navbar .icons>img {
    max-width: 30px;
}

/* end navbar  */
/* start title */
.title {
    padding-left: 15px;
}

.title h1 {
    border-bottom: 3px solid;
    font-size: 30px;
    font-weight: 700;
    border-image: linear-gradient(90deg, black 30px, white 30px, white 120px, transparent 120px) 1;
    padding-bottom: 5px;
    margin: 20px 0px;
}

/* end title */
/* start dashboard-projects */
.dashboard-projects {
    padding: 20px;
    overflow: hidden;
}

/* start content */
.content {
    padding: 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-bottom: 15px;
}

.content>div {
    min-height: 420px;
    border-radius: 10px;
}

.content>div {
    background-color: white;
    padding: 20px;
}

.content>div>span {
    color: var(--grey-color);
}

/* start hello */
.hello {
    background-color: white;
    padding: 0px !important;
}

.hello .head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #eee;
    border-radius: 6px;
}

.hello .head div h2 {
    margin-bottom: 10px;
}

.hello .head div span {
    color: gray;
}

.hello .head img {

    width: 200px;
}

.container .hello .my-profile {
    padding: 50px 0px;
    position: relative;
}

.container .hello .my-profile .me .information {
    display: flex;
    border: #eeeeee solid 1px;
    border-right: 0px;
    border-left: 0px;
    justify-content: space-evenly;
    padding: 20px;
}

.container .hello .my-profile .me .information div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.container .hello .my-profile .me .information div span:nth-of-type(2) {
    color: var(--grey-color);
}

.container .hello .my-profile .photo-container {
    position: absolute;
    display: flex;
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    top: -35px;
    left: 25px;
    border: solid 1px #eee;
}

.container .hello .my-profile .photo-container img {
    width: 60px;
    height: 60px;
}

.container .hello .my-profile a {
    width: fit-content;
    display: block;
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    background-color: var(--blue-color);
    font-size: 14px;
    margin: 15px 15px 15px auto;
}

.container .hello .my-profile a:hover {
    background-color: var(--blue-alt-color);

}

@media (max-width: 768px) {
    .hello .head img {
        display: none;
    }

    .container .hello .my-profile .photo-container {
        left: 50%;
        transform: translate(-50%);
    }

    .container .hello .my-profile .me .information {
        gap: 25px;
        flex-direction: column;
    }

    .content {
        display: grid;
        grid-template-columns: minmax(150px, 1fr);
    }

    .container .hello .my-profile a {
        padding: 1px 10px;
        margin: 4px 15px 15px auto;
    }
}

/* end hello */
/* start quick draft */
.quick-draft {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    justify-content: space-around;
}

.quick-draft h2 {
    font-size: 25px;
    font-weight: 600;
}


.quick-draft input.Title-input {
    background-color: #eee;
    border: none;
    padding: 10px;
    border-radius: 6px;
}

.quick-draft input:focus {
    outline: none;
}

.quick-draft textarea {
    padding: 10px;
    background-color: #eee;
    border: none;
    height: 170px;
    resize: none;
    border-radius: 6px;

}

.quick-draft textarea:focus {
    outline: none;
}

.quick-draft input[type="submit"] {
    border: none;
    width: fit-content;
    display: block;
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    background-color: var(--blue-color);
    font-size: 14px;
    margin: 15px 15px 15px auto;
    cursor: pointer;
    border-radius: 6px;
}

.quick-draft input[type="submit"]:hover {
    background-color: var(--blue-alt-color);
}

/* end quick draft */
/* start yearly targets */
.yearly-targets {
    padding: 20px;
    background: white;
    flex-direction: column;
    justify-content: space-around;
}

.yearly-targets .sign-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.yearly-targets .money .dollar-sign {
    background-color: hsl(212.47deg 100% 50% / 20%);
}

.yearly-targets .details {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.yearly-targets .details .progress {
    width: 100%;
    height: 5px;

}

.yearly-targets .details p {
    color: var(--grey-color);
}

.yearly-targets .details span {
    font-weight: 700;
}

.yearly-targets .money .progress {
    background-color: hsl(212.47deg 100% 50% / 20%)
}

.yearly-targets .projects .progress {
    background-color: rgb(253 236 206)
}

.yearly-targets .team .progress {
    background-color: rgb(211 243 223)
}

.yearly-targets .progress .the-progress {
    display: block;
    height: 100%;
}

.yearly-targets .money .progress .the-progress {

    background-color: var(--blue-color);
}

.yearly-targets .projects .progress .the-progress {

    background-color: var(--orange-color);
}

.yearly-targets .team .progress .the-progress {

    background-color: var(--green-color);
}

.yearly-targets .progress .the-progress {
    position: relative;
}

.yearly-targets .projects-sign {
    background-color: rgb(253 236 206);
}

.yearly-targets .team-sign {
    background-color: rgb(211 243 223);
}

.yearly-targets .progress .the-progress span.progress-value {
    top: -40px;
    right: 0px;
    transform: translateX(50%);
    position: absolute;
    display: block;
    color: white;
    padding: 1px 5px;
    border-radius: 6px;
}

.yearly-targets .progress .the-progress span.progress-value::after {
    content: "";
    position: absolute;
    border: 6px solid;
    border-color: black transparent transparent transparent;
    bottom: -3px;
    right: 50%;
    transform: translate(50%, 10px);
}

.yearly-targets .money .progress .the-progress span.progress-value::after {
    border-color: var(--blue-color) transparent transparent transparent;
}

.yearly-targets .projects .progress .the-progress span.progress-value::after {
    border-color: var(--orange-color) transparent transparent transparent;
}

.yearly-targets .team .progress .the-progress span.progress-value::after {
    border-color: var(--green-color) transparent transparent transparent;
}

/* end yearly targets */
/* start Tickets Statistics */
.tickets-statistics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
}

.tickets-statistics .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tickets-statistics .boxes .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

.tickets-statistics .boxes .box h3 {
    font-size: 25px;
}

.tickets-statistics .boxes .box span {
    color: #8888a7;
}

/* end Tickets Statistics */
/* start latest news */
.latest-news {
    display: flex;
    flex-direction: column;
}

.latest-news .news {
    display: flex;
    flex-direction: column;
}

.latest-news .news>div {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 20px 10px;
    align-items: center;
}

.latest-news .news>div:not(:last-child) {
    border-bottom: solid 1px #eee;
}

.latest-news .news>div img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}

.latest-news .news>div .details h3 {
    margin: 0 0 6px;
    font-size: 16px;

}

.latest-news .news>div .details span {
    color: var(--grey-color);
}

.latest-news .news>div .time {
    height: fit-content;
    font-size: 13px;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    background-color: #eee;
    border-radius: 10px;
    align-items: center;
}

@media (max-width: 768px) {
    .latest-news .news>div img {
        display: none;
    }

    .latest-news .news>div {
        display: flex;
        justify-content: space-between;
    }
}

/* end latest news */
/* start latest tasks */
.latest-tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.latest-tasks .tasks {
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.latest-tasks .tasks>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.latest-tasks .tasks>div:not(:last-child) {
    border-bottom: solid 1px #eee;
}


.latest-tasks .tasks>.deleted .details {
    text-decoration: line-through;

}

.latest-tasks .tasks>.deleted {
    opacity: 0.3;
}

.latest-tasks .tasks>div .details h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.latest-tasks .tasks>div .details p {
    color: var(--grey-color);
}

.latest-tasks .tasks>div i {
    transition: 0.3s;
    cursor: pointer;
}

.latest-tasks .tasks>div i:hover {
    color: #f44336;
}

/* end latest tasks */
/* start Search Items */

.top-search-items .items .head {
    color: var(--grey-color);
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
}

.top-search-items .items .item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
}

.top-search-items .items .item span.search-count {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
}

/* end Search Items */
/* start Latest Uploads */

.latest-uploads .uploads>div {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 8px 0px;
    align-items: center;
}

.latest-uploads .uploads>div:not(:last-child) {
    border-bottom: solid 1px #eee;
}

.latest-uploads .uploads>div img {
    width: 40px;
    height: 40px;
}

.latest-uploads .uploads>div .details {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.latest-uploads .uploads>div .details span:nth-child(2) {
    color: var(--grey-color);
}

.latest-uploads .uploads>div .upload-size {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
}

/* end Latest Uploads */
/* start Last Project Progress */
.last-project-progress {
    position: relative;
}

.last-project-progress h2 {
    margin-bottom: 20px;
}


.last-project-progress .project-tasks .task {
    padding: 20px 0px;
    font-weight: 500;
    font-size: 17px;
    display: flex;
    flex-direction: row;
}

.last-project-progress .project-tasks .task div {
    position: relative;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: 2px solid var(--blue-color);
    border: solid 2px white;
}

.last-project-progress .project-tasks .task.done div {
    background-color: var(--blue-color);
}

@keyframes is-running {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: var(--blue-color);
    }

    100% {
        background-color: transparent;
    }
}

.last-project-progress .project-tasks .task.running div {
    animation: infinite is-running 1.5s ease-in-out;
}

.last-project-progress .project-tasks .task:not(:last-child) div::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 40px;
    right: 50%;
    transform: translateX(50%);
    bottom: -42px;
    background-color: var(--blue-color);
}

.last-project-progress img {
    position: absolute;
    width: 160px;
    right: 0;
    bottom: 0;
    opacity: 0.1;
}

/* end Last Project Progress */
/* start Reminders */

.reminders ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.reminders ul li {
    display: flex;
    align-items: center;
}

.reminders ul li span.ball {
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 30px;
}

.reminders ul li .reminder-task {
    padding-left: 10px;
}

.reminders ul li:nth-child(1) .reminder-task {
    border-left: solid var(--blue-color);
}

.reminders ul li:nth-child(2) .reminder-task {
    border-left: solid var(--green-color);
}

.reminders ul li:nth-child(3) .reminder-task {
    border-left: solid var(--orange-color);
}

.reminders ul li:nth-child(4) .reminder-task {
    border-left: solid var(--red-color);
}

.reminders ul li .reminder-task p {
    margin-bottom: 10px;
}

.reminders ul li .reminder-task span {
    color: var(--grey-color);
    font-size: 14px;
}

/* end Reminders */
/* start latest post */

.latest-post .user {
    display: flex;
    padding: 20px 0px;
}

.latest-post .user img {
    width: 50px;
    margin-right: 15px;
}

.latest-post .user div span {
    display: block;
    padding-bottom: 5px;
    font-weight: 700;
}


.latest-post .user div p {
    color: var(--grey-color);
}

.latest-post .post {
    padding: 30px 0px 100px;
    border: solid #eee 1px;
    border-right: 0px;
    border-left: 0px;
    font-weight: 500;
    font-size: 17px;
}

.latest-post .reactions {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color: var(--grey-color);
}

/* end latest post */
/* start Media Stats */
.social-media-stats h2 {
    margin-bottom: 30px;
}

.social-media-stats .social-media>div {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.social-media-stats .social-media a {
    height: fit-content;
    color: white;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 13px;
}

.social-media-stats .social-media .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    transition: 0.3s;
}

.social-media-stats .social-media .info {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 10px;
    justify-content: space-between;
}

.social-media-stats .social-media .icon i {
    height: fit-content;
}

.social-media-stats .social-media .icon:hover {
    rotate: 10deg;
}

.social-media-stats .social-media .twitter .icon {
    background-color: #1da1f2;
}

.social-media-stats .social-media .twitter a {
    background-color: #1da1f2;
}

.social-media-stats .social-media .twitter .info {
    background-color: #d2ecfc;
}

.social-media-stats .social-media .twitter .the-number {
    color: #1da1f2;
}

.social-media-stats .social-media .facebook .icon {
    background-color: #1877f2;
}

.social-media-stats .social-media .facebook a {
    background-color: #1877f2;
}

.social-media-stats .social-media .facebook .info {
    background-color: #d1e4fc;
}

.social-media-stats .social-media .facebook .the-number {
    color: #1877f2;
}

.social-media-stats .social-media .youtube .icon {
    background-color: #ff0000;
}

.social-media-stats .social-media .youtube a {
    background-color: #ff0000;
}

.social-media-stats .social-media .youtube .info {
    background-color: #ffcccc;
}

.social-media-stats .social-media .youtube .the-number {
    color: #ff0000;
}

.social-media-stats .social-media .linkedin .icon {
    background-color: #0077b5;
}

.social-media-stats .social-media .linkedin a {
    background-color: #0077b5;
}

.social-media-stats .social-media .linkedin .info {
    background-color: #cce4f0;
}

.social-media-stats .social-media .linkedin .the-number {
    color: #0077b5;
}

/* end Media Stats */
/* start projects table*/
.projects-table {
    /* min-width: 1000px; */
    width: 100%;
    border-radius: 6px;
}

.projects-table .responsive-table {
    overflow-x: auto;
    /* min-width: 1000px; */
}

.projects-table table {
    width: 100%;
    border-spacing: 0px;
    min-width: 1000px;
}


.projects-table table tbody td {
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eee;
    transition: 0.3s;
}

.projects-table table tbody tr:hover td {
    background-color: #faf7f7;
}

.projects-table table thead tr th {
    background-color: #eee;
}

.projects-table table th,
.projects-table table td {
    padding: 20px;
}

.projects-table table tbody tr td:nth-child(5) {
    display: flex;
    flex-wrap: nowrap;
}

.projects-table table tbody tr td:nth-child(5) img {
    width: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

.projects-table table tbody tr td:nth-child(5) img:not(:first-child) {
    margin-left: -16px;
}

.projects-table table tbody tr td:last-child span {
    color: white;
    display: flex;
    width: fit-content;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 6px;
}


/* end projects table*/
/* start settings */
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    cursor: pointer;
    position: relative;
    border-radius: 16px;
    width: 78px;
    height: 32px;
    transition: 0.3s;
    background-color: #eee;
}

.toggle-switch::before {
    color: #aaa;
    top: 4px;
    left: 4px;
    display: flex;
    position: absolute;
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    color: #aaa;
    transition: 0.3s;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: var(--blue-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
    content: "\f00c";
    color: var(--blue-color);
    left: 50px;
}

/* start site control */

.site-control>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.site-control>div span {
    color: var(--grey-color);
    font-size: 15px;
}

.site-control>div p {
    font-weight: 500;
    font-size: 15px;
}

.site-control>div textarea {
    height: 150px;
    width: 100%;
    padding: 10px;
    border-color: #ccc;
    resize: none;
}

.site-control .website-control {
    display: flex;
    justify-content: space-between;
}

/* end site control */
/* start general-info*/
.general-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.general-info>div {
    display: flex;
    flex-direction: column;
}

.general-info>div span {
    margin-bottom: 10px;
}

.general-info>div input {
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #ccc;
}

.general-info>div input[type="email"] {
    width: 85%;
    background-color: #f0f4f8;
    cursor: no-drop;
}

.general-info>div input[type="email"]::placeholder {
    color: #ccc;
}

.general-info>div input[type="email"]+a {
    margin-left: 10px;
}

.general-info>div input:focus {
    outline: none;
}

/* end general-info*/
/* start security info */


.security-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.security-info>div {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 25px 0px;
}

.security-info>div:not(:last-child) {
    border-bottom: solid 1px #eee;
}

.security-info p {
    color: var(--grey-color);
}

.security-info>div p {
    font-size: 14px;
}

/* end security info */
/* start Social Info */

.social-info .social-media {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.social-info .social-media>div {
    display: flex;
    border: solid 1px #ddd;
    border-radius: 6px;

}

.social-info .social-media>div .icon {
    display: flex;
    background-color: #f6f6f6;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-right: solid 1px #ddd;
}

.social-info .social-media>div .icon i {
    transition: 0.3s;
}

.social-info .social-media>div input {
    padding: 10px;
    background-color: #f6f6f6;
    border: none;
    width: 100%;
}

.social-info .social-media>div input:focus {
    outline: none;
}

.social-info .social-media>div .icon:has(+input:focus) i {
    color: black;
}

/* end Social Info */
/* start Widgets Control */


.widgets-control>div {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
}

.widgets-control>div>div {
    display: flex;
}

.widgets-control>div label {
    cursor: pointer;
    display: flex;
    width: fit-content;
}

.widgets-control>div input {
    /* width: 18px;
    height: 18px; */
    appearance: none;
}

.widgets-control>div label span {
    margin: 0px 20px;
    position: relative;
    transition: 0.3s;
    width: 18px;
    height: 18px;
}

.widgets-control>div label span::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 6px;
    border: solid 1px #ccc;
    position: absolute;
    right: 0px;
    transition: 0.3s;
}

.widgets-control>div input+label span:hover::before {
    border-color: var(--blue-color);
}


.widgets-control>div input+label span::after {
    content: "";
    top: 0px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
}

.widgets-control>div input:checked+label span::after {
    display: flex;
    font-size: 12px;
    position: absolute;
    right: 0px;
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    width: 18px;
    height: 18px;
    background: var(--blue-color);
    color: white;
    border-radius: 6px;
    border: solid 1px transparent;
    justify-content: center;
    align-items: center;
    top: 0px;
    transition: 0.3s;
    transform: scale(1);
}

/* end Widgets Control */
/* start Backup Manager */
.backup-manager .c-b-time {
    padding: 20px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 20px;
}

.backup-manager .c-b-time>div {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 10px 0px;
}


.backup-manager .c-b-time>div input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.backup-manager .c-b-time>div label {
    padding-left: 10px;
    cursor: pointer;
}

.backup-manager .c-b-location {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 10px;
}

.backup-manager .c-b-location>div {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 180px;
    height: 90px;
}

.backup-manager .c-b-location>div label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.backup-manager .c-b-location>div input {
    appearance: none;
}

.backup-manager .c-b-location>div:has(>input:checked) {
    color: var(--blue-color);
    border-color: var(--blue-color);
}


/* end Backup Manager */
/* end settings */
/* start profile */
.profile-content {
    grid-template-columns: 30% 70%;
}

.profile-content .my-full-profile {
    grid-column: 1 / 3;
}

.profile-content .my-skills {
    grid-column: 1 / 2;
}

.profile-content .latest-activities {
    grid-column: 2 / 3;
}

/* start my full profile */
.my-full-profile {
    padding: 0px !important;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 25% 25% 25% 25%;
}


.my-full-profile span,
.my-full-profile h4 {
    color: var(--grey-color);
    padding-bottom: 5px;
}

.my-full-profile .portfolio {
    padding: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1/5;
    border-right: 1px solid;
    border-image: linear-gradient(to bottom, transparent 15%, #eee 15%, #eee 85%, transparent 85%) 1;
}

.my-full-profile .portfolio .progress {
    width: 80%;
    height: 5px;
    position: relative;
    border-radius: 10px;
    background-color: #eee;
}

.my-full-profile .portfolio .progress span {
    display: block;
    background-color: var(--blue-color);
    height: 100%;
    border-radius: 10px;
}

.my-full-profile .portfolio img {
    width: 120px;
    height: 120px;
}

.my-full-profile>div:not(.portfolio) {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: space-around;
    transition: 0.3s;
    padding: 20px;
}

.my-full-profile>div:not(.portfolio):hover {
    background-color: #fafafa;
}

.my-full-profile>div:not(.portfolio):not(:last-child) {
    border-bottom: 1px solid #eee;
}

/* .my-full-profile>div:not(.portfolio)>div {
    display: flex;
    justify-content: space-around;
    width: 600px;
    font-size: 14px;
} */
.my-full-profile>div:not(.portfolio)>div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    font-size: 14px;
}

.my-full-profile>div:not(.portfolio)>div>div {
    display: flex;
    padding-bottom: 5px;
}

.my-full-profile>div:not(.portfolio)>div span {
    margin-right: 5px;
}

.my-full-profile>div:not(.portfolio) .toggle-switch {
    height: 20px;
}

.my-full-profile>div:not(.portfolio) .toggle-checkbox:checked+.toggle-switch::before {
    left: 62px;
}

.my-full-profile>div:not(.portfolio) .toggle-switch::before {
    width: 12px;
    height: 12px;
    font-size: 8px;
}

@media (max-width: 900px) {
    .my-full-profile {
        display: flex;
        flex-direction: column;
    }
}

/* end my full profile */
/* start my skills */

.my-skills .skills div {
    padding: 15px 0px;
}

.my-skills .skills div:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.my-skills .skills div span {
    display: inline-flex;
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 5px;
}

/* end my skills */
/* start Latest Activities  */

.latest-activities .activities .activity {
    display: flex;
    padding: 20px 0px;
}

.latest-activities .activities .activity:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.latest-activities .activities .activity img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.latest-activities .activities .activity .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.latest-activities .activities .activity .info>div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.latest-activities .activities .activity .info>div span {
    color: var(--grey-color);
}

@media (max-width: 1024px) {
    .my-skills {
        text-align: center;
    }

    .latest-activities {
        text-align: center;
    }

    .profile-content {
        display: flex;
        flex-direction: column;
    }

    .latest-activities .activities .activity {
        flex-direction: column;
        align-items: center;
    }

    .latest-activities .activities .activity img {
        margin-right: 0px;
    }

    .latest-activities .activities .activity .info {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }

}

/* end Latest Activities  */

/* end profile */
/* start projects */
/* start projects-content */
.projects-content {
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

@media (max-width: 768px) {
    .projects-content {
        grid-template-columns: minmax(200px, 1fr);
    }

    .projects-content .project .skills {
        flex-direction: column;
        gap: 10px;

    }
}

.projects-content>div {
    min-height: 80px;
}

.projects-content .project .team {
    padding: 20px 0px;
}

.projects-content .project .date {
    top: 10px;
    right: 20px;
}

.projects-content .project img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.projects-content .project a {
    position: relative;
}

.projects-content .project a:hover {
    z-index: 4444;
    cursor: pointer;
}


.projects-content .project a:not(:first-child) {
    margin-left: -15px;
}

.projects-content .project .skills {
    padding: 20px 0px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.projects-content .project .skills span {
    background-color: #eee;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 5px 8px;
}

.projects-content .project .progress-price {
    padding: 10px 0px;
}

.projects-content .project .progress-price .progress {
    width: 200px;
    height: 10px;
}

.projects-content .project .progress-price .progress span {
    display: block;
    height: 100%;
}


/* end projects-content */
/* end projects */
/* start courses */
.courses-content {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.courses-content>.course {
    padding: 0px;
    overflow: hidden;
}

.courses-content .course .course-image {
    max-width: 100%;
}

.courses-content .course .instructor {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    border: 2px solid white;
}

.courses-content .course .info {
    border-top: 1px solid #eee;
    margin-top: 20px;
}

.courses-content .course .info .course-info {
    transform: translate(-50%, -50%);
    top: 0px;
    left: 50%;
}

/* end courses */
/* start Friends */

.friends-content {
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
}

.friends-content>div {
    padding: 0px;
    min-height: 350px;
    position: relative;
}

.friends-content .friend .contact {
    top: 10px;
    left: 10px;
}

.friends-content .friend .contact i {
    transition: 0.3s;
}

.friends-content .friend .contact i:hover {
    cursor: pointer;
    color: white;
    background-color: var(--blue-color);
}

.friends-content .friend .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    position: relative;
}

.friends-content .friend .body div {
    margin-bottom: 10px;
}

.friends-content .friend .body div i {
    margin-right: 5px;
}

.friends-content .friend .head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.friends-content .friend .VIP {
    color: #f59e0b3d;
    font-size: 40px;
    top: 20px;
    font-weight: 600;
    right: 20px;
}

/* end Friends */
/* start files */
.big-content {
    display: grid;
    grid-template-columns: minmax(200px, 80%) minmax(260px, 20%);
}
@media (max-width: 768px) {
    .big-content {
        display: flex;
        flex-direction: column-reverse;
    }
}
.files-content {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.files-content>.file {
    min-height: 200px;
    padding: 0px;
}

.files-content>.file i {
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.files-content>.file img {
    cursor: pointer;
    width: 64px;
    height: 64px;
    transition: 0.3s;
}

.files-content>.file:hover img {
    rotate: 5deg;
}

.files-content>.file .file-type {
    display: flex;
    align-items: center;
}

.files-content>.file .file-type span {
    cursor: pointer;
}

.big-content .files-statistics {
    min-width: 200px;
    margin-top: 20px;
    margin-right: 20px;
    height: 450px;
}

.big-content .files-statistics .statistic {
    display: flex;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
}

.big-content .files-statistics .statistic .info {
    width: 100%;
}

.big-content .files-statistics a {
    padding: 10px 15px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.big-content .files-statistics a:hover {
    background-color: var(--blue-alt-color);
}

@keyframes go-up {

    0%,
    100% {
        transform: translateY(1px);
    }

    50% {
        transform: translateY(-5px);
    }
}

.big-content .files-statistics a:hover i {
    animation: go-up 0.8s infinite;
}

.big-content .files-statistics .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 4px;
}

.big-content .files-statistics .icon i {
    font-size: 15px;
}

.big-content .files-statistics .PDF-Files .icon {
    background-color: #0075ff40;
}

.big-content .files-statistics .Images .icon {
    background-color: #22c55e40;
}

.big-content .files-statistics .Word-Files .icon {
    background-color: #f4433640;
}

.big-content .files-statistics .CSV-Files .icon {
    background-color: #f59e0b40;
}

/* end files */
/* start plans */

.plan .type {
    margin-bottom: 10px;
    border: 3px solid white;
}

.plan.free .type {
    outline: 3px solid var(--green-color);
}

.plan.basic .type {outline: 3px solid var(--blue-color);}

.plan.premium .type {outline: 3px solid var(--orange-color);}

.plan .type .price {
    position: relative;
}

.plan .type .price .dollar {
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    top: 2px;
    left: -17px;
}

.plan .type .price .price-number {
    font-size: 40px;
    font-weight: 600;
}



.plan .features li {
    padding: 15px 0px;
    border-bottom: solid #eee 1px;

}

.plan .foot {
    padding: 20px 0px 0px;
}

/* end plans */
/* end content */
/* end container */